<!DOCTYPE html>
<html>
<head>
    <title>Bacchus</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
</head>
<body class="ng-cloak" ng-app="auctionApp">
<div ng-controller="AppController as ctrl">

    <div class="dropdown-container">
        <div class="dropdown" ng-repeat="category in ctrl.categories">
            <button class="dropbtn" ng-mouseover="ctrl.fillDropdown(category)" ng-click="ctrl.fetchAllItems(category)">{{category}}</button>
            <div class="dropdown-content">
                <a href="" ng-repeat="dropdownItem in ctrl.dropdownItems" ng-click="ctrl.selectItemToBidOn(dropdownItem)">{{dropdownItem.productName}}</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" ng-click="ctrl.fetchAllItems('All')">All items</button>
        </div>
    </div>

    <div class="products-container">
        <div class="product-container" ng-repeat="item in ctrl.itemsToShow" ng-click="ctrl.selectItemToBidOn(item)">
            <div class="product">{{item.productName}}</div>
            <div class="product">{{item.productDescription}}</div>
            <div class="product product-time" ng-if="(item.timeDiff/1000) <= 60">{{Math.round(item.timeDiff/1000)}} sec</div>
            <div class="product product-time" ng-if="(item.timeDiff/1000) > 60">{{Math.round(item.timeDiff/60000)}} min</div>
        </div>
    </div>

    <div class="modal-container" ng-show="ctrl.modalShow">
        <div class="modal-window">
            <div class="modal-header">Place your bid!</div>
            <div class="modal-body">
                <div class="modal-form" ng-if="!ctrl.submitted">
                    <label for="fullName">Full name</label>
                    <input id="fullName" ng-model="ctrl.newBid.fullname" placeholder="Full name" required minlength="2" maxlength="32"><br>

                    <label for="amount">Amount</label>
                    <input id="amount" ng-model="ctrl.newBid.amount" placeholder="Bid amount separated by a dot"><br>

                    <button class="modal-btn" ng-click="ctrl.submitBid()">Submit bid</button>
                    <button class="modal-btn" ng-click="ctrl.cancelBid()">Cancel</button>
                </div>
                <div class="modal-message" ng-if="ctrl.submitted">
                    <p>{{ctrl.responseMessage}}</p>
                    <button class="modal-btn" ng-click="ctrl.okay()">Ok</button>
                </div>
            </div>

        </div>
    </div>

</div>
<script src="app.js"></script>
<script src="auction.service.js"></script>
<script src="app.controller.js"></script>
</body>
</html>