.product {
    padding: 3px;
    float: left;
    width: 250px;
}

.product-time {
    width: 50px;
}

.product-container {
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
    width: 570px;
    border: 1px solid darkgrey;
    border-radius: 5px;
}

.products-container {
    margin: 15px;
}

.product-container:hover {
    background-color: #ddd;
}

.dropbtn {
    background-color: #8c96af;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-container {
    margin: 20px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #696f8e;}

.modal-container{
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    top:0; bottom:0; left:0; right:0;
    background-color: rgba(0,0,0,0.6);
}

.modal-window{
    background-color:#fff;
    display:flex;
    flex-direction:column;
    width: 320px;
    height: 210px;
    max-width:100%;
    max-height: 100%;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
}

.modal-header{
    padding:1rem;
    font-family: sans-serif;
    background-color: #8c96af;
    color: #fff;
}

.modal-body{
    padding:10px;
}

input {
    width: 200px;
    float: right;
    margin: 5px;
}

label {
    margin: 5px;
    float: left;
}

.modal-btn {
    background-color: #8C96AF;
    padding: 10px;
    margin: 5px;
    border: none;
    width: 45%;
    color: #f1f1f1;
}

.modal-btn:hover {
    background-color: #696f8e;
}

body {
    margin: 0;
}